[submodule "repo/JavaScript-Plugin-Architecture"]
	path = repo/JavaScript-Plugin-Architecture
	url = https://github.com/azu/JavaScript-Plugin-Architecture
[submodule "repo/Introduction-to-Add-on-Development-in-Blender"]
	path = repo/Introduction-to-Add-on-Development-in-Blender
	url = https://github.com/nutti/Introduction-to-Add-on-Development-in-Blender
[submodule "repo/The-Little-Book-on-CoffeeScript"]
	path = repo/The-Little-Book-on-CoffeeScript
	url = https://github.com/minghai/library
	branch = gh-pages
[submodule "repo/js-primer"]
	path = repo/js-primer
	url = https://github.com/asciidwango/js-primer
[submodule "repo/progit"]
	path = repo/progit
	url = https://github.com/progit/progit
